@model ToDoList21.Models.ProblemDescriptionViewModel
    

    <div class="buttons">
        <a class="abutton" asp-controller="Problem" asp-action="Update" asp-route-id="@Model.Id">Изменить</a>
        <a class="abutton" asp-controller="Problem" asp-action="Delete" asp-route-id="@Model.Id">Удалить</a>
        <a class="abutton" asp-controller="Problem" asp-action="AddSubProblem" asp-route-ProblemId="@Model.Id">Добавить подзадачу</a>
    </div>
    <p>Дата создания: @Model.StartDate</p>
    <b>@Model.Title</b>
    <p>@Model.Description</p>