@model  IEnumerable<ToDoList21.Models.Problem>

@{
    ViewData["Title"] = "Главная";
}
    <div class="column_RightBorder">
        <a class="abutton" asp-controller="Problem" asp-action="Create">Создать новую задачу</a>            
            <ul class="treeline">
                  @foreach (var item in Model)
                  {
                      
                                                    
                         @if (item.ProblemId==null)
                         {
                             <li class="Arrow">
                                <input class="ProblemId" type="hidden" value="@item.Id" />
                                <span class="drop">+</span>
                                <i class="ProblemTitle">@item.Title</i>
                                <div class="SubProblemContainer"></div>
                             </li>
@*                             <ul>
                                 <li>
                                     <input class="ProblemId" type="hidden" value="@item.Id" /> 
                                     <i class="ProblemTitle">@item.Title</i>
                                 </li>
                             </ul>
                              @await Html.PartialAsync("_DisplaySubProblemsPartial", item.ProblemId)*@
                         }
@*                         else
                         {
                             <i class="ProblemTitle">@item.Title</i>
                         }*@
                      
                  }
            </ul>
    </div>

    <div class="description">
    </div>

