@model  IEnumerable<ToDoList21.Models.Problem>

@{
    ViewData["Title"] = "Главная";
}
    <div class="column_RightBorder">
            <button>Создать новую задачу</button>
            <ul class="treeline">
                  @foreach (var item in Model)
                  {
                      <li class="Arrow">
                          <input class="ProblemId" type="hidden" value="@item.Id" />
                          <text class="ProblemTitle">@item.Title</text>
                          @if (item.SubProblems==null)
                          {
                              
                          }
       @*                                 @if (item.SubProblems.Count() > 0)
                         {
                             <i></i>
                             <span>@item.Title</span>
                         }
                         else
                         {
                             <span>@item.Title</span>
                         }*@
                      </li>
                  }
            </ul>
    </div>

    <div id="description" class="description">
@*        описание
        <div>
            <a href="Problem/CreateSubProblem">Добавить подзадачу</a>
            <a href="Problem/Update">Изменить</a>
            <a href="Problem/Delete">Удалить</a>
            <a href="Problem/Description">Подробнее</a>   
        </div>*@
        @*<text>@item.Title</text>*@
    </div>

