@model  IEnumerable<ToDoList21.Models.Problem>

@{
    ViewData["Title"] = "Главная";
}

<div id="content">
    <div">
            <ul>
                  @foreach (var item in Model)
                  {
                  
                      <li>
                          <input type="hidden" value="@item.Title" />
                      <input type="hidden" value="@item.Id" />

                      <i class="toDoArrow"></i>
                      <span>@item.Title</span>

@*                      @if (item.SubProblems.Count() > 0)
                      {
                          <i class="toDoArrow"></i>
                          <span>@item.Title</span>
                      }
                      else
                      {
                          <span noSubTasks">@item.Title</span>
                      }*@
                      </li>
                  }
            </ul>
    </div>
    <div></div>
</div>

